@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Nunito Sans', sans-serif; ;
    font-size: 20px;
    
}

body {
    background-image: url("../../img/back.jpg");
    background-repeat: repeat;
    background-size: 100%;
    /* background-color: #000000; */
}



/* ###########  NavBar ####### */

.navbar {
    border: solid;
    border-bottom-color: #29f8ff;
    background-color: black;
    height: 85px;
    width: 100%;
    position: fixed;
    opacity: 0.9;
    align-items: center;
    z-index: 100;
}

.logo {
    margin: 0px 30px;
    height: 60px;
    width: auto;
    transition: all 0.5s ;
}

.logo:hover {
    transform: scale(1.2);
}
.collapse {
    justify-content:space-around;
    
}
.collapse .navbar-nav{
    background-color: #000000;
    opacity: 0.9;
}
.navbar-nav .nav-item{
    margin-left: 60px;
}
.navbar-nav .nav-item .nav-link {
    
    font-size: 700;
    color: #29f8ff;
    margin-left: 30px;
    text-decoration: none;
    transition: all 0.5s
    
}

.navbar-nav .nav-item .nav-link:hover{
    transform: scale(1.1);
    color:#f305f7 ;
}

.navbar-toggler{
    background-color: #29f8ff;
    opacity: 0.5;
}


/*  ########################### CAROUSEL #########################  */

.carousel{
    margin: 30px;
    border: solid;
    border-color: #29f8ff;
}

/*  ########################### SALUDO #########################  */

.saludo {
    padding: 9px 50px;
    background-color: #000000;
    opacity: 0.8;
    border: solid;
    border-color: #29f8ff;
    border-radius: 20px;
    margin: 30px;
    animation-name: opacity;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}
.saludo-2 {
    padding: 9px 50px;
    background-color: #000000;
    opacity: 0.8;
    border: solid;
    border-color: #29f8ff;
    border-radius: 20px;
    margin: 30px;
    animation-name: enter-left;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}
.saludo-3 {
    padding: 9px 50px;
    background-color: #000000;
    opacity: 0.8;
    border: solid;
    border-color: #29f8ff;
    border-radius: 20px;
    margin: 30px;
    animation-name: enter-up;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}
.saludo h1 {
    font-size: 30px;
    color:#29f8ff;
    padding: 15px;
}
.saludo-2 h1 {
    font-size: 30px;
    color:red;
    padding: 15px;
}
.saludo-3 h1 {
    font-size: 30px;
    color:#f308e3e0;
    padding: 15px;
}
p {
    font-size: 20px;
    color:white;
}


/*  ########################### CARD HOME #########################  */


.cuerpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 50px;
  
}

.card {
    background-color:black;
    border: solid;
    border-color: #29f8ff;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

.card-img {
    height: 220px;
    width: 220px;
    margin: 0px 40px;
    display: flex;
    align-items: center;
}
.card .img {
    height: 200px ;
    width: 200px;
    margin: 10px 10px; 
}

.card-body {
    display: inline-block;
    padding: 20px 20px;

}
.card-title {
    font-size: 20px;
    color: white;
    

}
.card-text {
    font-size: 15px;
    color: #f305f7;

}


/*  ########################### FOOTER #########################  */


.footer {
    background-color: #000000;
    border: solid;
    border-top-color: #29f8ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
   
    padding: 5px 10%;
}
.foot-text {
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 200px;

}
.foot-text-h4 {
    font-size: 25px;
    color: white;
    margin: 10px 0px;
}
.foot-text-spam {
    font-size: 25px ;
    color: #29f8ff;
    margin: 10px 0px;
}
.foot-text-p {
    font-size: 15px;
    color: white;
}
.footer .foot-links {
    list-style: none;
}
.footer .foot-links li {
    display: inline-block;
    padding: 0 20px;
}
.footer .foot-links a {
    font-size: 15px;
    color: #29f8ff;
    text-decoration: none;
}
.footer .foot-links a img {
    max-height: 20px;
    max-width: 20px;

}
.news-title {
    font-size: 25px;
    color: #29f8ff;
    margin: 15px 0px;

}
.form-control {
    border-radius: 5px;
    margin: 5px 0px;
}


/*  ########################### TERMS #########################  */

.terms {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    
    
}
.terms-text {
    padding-top: 20px;

}
.terms-text p {
    font-size: 15px;
}
.terms-text p a {
    font-size: 15px;
    text-decoration: none;
}

.terms-link {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

/*  ########################### ABOUT #########################  */

.about {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.about-imag {
    
    animation-name: enter-right;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}
.about-imag img {
    height: 500px;
    width: 500px;
}
.about-text {
    background-color: #000000;
    opacity: 0.9;
    animation-name: enter-left;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;    
}
.about-text-1 {
    padding:20px 20px;
    margin:20px 20px;
    align-items: center;
}

.about-text-h2 {
    color: white;
    font-size: 30px;
    padding:5px;
    margin: 20px 20px;  
}
.about-text-span {
    color: #29f8ff;
    font-size: 30px;    
}
.about-text-p {
    font-size: 20px;
    padding:5px;
    margin: 10px 20px;
}

/* ######################### ESTUDIOS ###################### */

.card-estudio-1 {
    padding: 10px 50px;
    background-color: black;
    opacity: 0.9;
    border: solid;
    border-color: #29f8ff;
    border-radius: 20px;
    display: grid;
    grid-template-areas: 
    "uno dos dos"
    "cuatro cuatro tres"
    
    ;
    grid-column-gap: 5px ;
    grid-row-gap: 5px;    
}

.imag-estudio-1{
    background-color:white ;
    grid-area: uno;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px ;
    margin: 20px;
}
.text-estudio-1 {
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px ;
}
.imag-estudio-2{
    grid-area: tres;
    padding: 25px ;
}
.text-estudio-2{
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px ;
    
}
.imag-estudio-1 img {
    width: 200px;
    height: 200px;
}
.imag-estudio-2 img {
    width: 500px;
    height: 500px;
}
.text-estudio-1 h5 {
    font-size:30px;
    color: red;
    
    
}
.text-estudio-1 p {
    font-size:20px;
    
    
}

.text-estudio-2 h5 {
    font-size:30px;
    color:red;
    
}
.text-estudio-2 p {
    font-size:20px;
    
    
}
.card-title-1 {
    font-size: 20px;
    display: inline-block;
    padding: 0 20px;   

}
.card-text-1 {
    font-size: 15px;
    color: #f305f7;
    display: inline-block;
    padding: 0 20px;
}

/* #################### Proyectos ############################### */

.proyect {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    
}

.card-1 {
    background-color: #000000;
    opacity: 0.9;
    display:flex;
    flex-direction:column;
    border: solid;
    border-color: #29f8ff;
    margin: 10px;
}

.card-img img {
    height: 150px ;
    width: 260px; 
}  

.card-body {
    display: inline-block;
    margin-bottom: 20px;
 
}
.card-body .card-title {
    font-size: 20px; 
    color: white;  
}
.card-body .card-text {
    font-size: 15px;
    color: white;
}

.card-2 {
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: #000000;
    opacity: 0.9;
    border: solid;
    border-color: #29f8ff;
    padding: 10px;
    margin: 5px;

   
}
.video {
   
    border-color: #29f8ff;
}
.video iframe {
    border-color: #29f8ff;
    width: 560px; 
    height: 315px ;
}
.buttons {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 50px; 
}
.buttons button {
    padding: 9px 25px;
    margin: 0px 50px;
}


/* ##################### Contactos ############################## */
.contact {
    margin: 0px 20px;
    border: solid;
    border-color: #29f8ff;
    display: flex;
    flex-direction: row;

}
.contact-imag {
    padding: 20px;
    animation-name: opacity;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    
}
.contact-imag img {
    height: 500px;
    width: 500px;
}
.contact-text {
    background-color: #000000;
    opacity: 0.9;
    padding: 20px;
    animation-name: enter-right;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.contact-text-1 h2 {
    color: white;
    font-size: 30px;
    padding:5px;
    margin: 20px 20px;  
}
.contact-text-1 p {
    font-size: 20px;
    padding:5px;
    margin: 10px 20px;

}
.contact-text-1 span {
    color: #29f8ff;
    font-size: 30px; 
}
.redes-list {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:black;
    opacity: 0.9;
    border-top: #29f8ff;
}
.redes-list img{
    height: 30px;
    width: 30px;
    margin: 30px 0px; 
}
.redes-list span {
    display: inline-block;
    padding: 0 20px;
}
.redes-list span:hover{
    transform: scale(1.1);
}


/* ##################### under - construction ################### */

.page-build{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-build img {
    height: 450px;
    width: 400px;

}
/*  #######################  Animaciones  ######################### */


@keyframes enter-right {
    0%{
        transform: translateX(-1200px);
    }

  
    100%{
        transform: translateX(0);  
    }
}
@keyframes enter-left {
    0%{
        transform: translateX(1500px);
    }

  
    100%{
        transform: translateX(0);  
    }
}
@keyframes enter-up {
    0%{
        transform: translateY(-1000px);
    }

  
    100%{
        transform: translateX(0);  
    }
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
  
    100%{
        opacity: 0.8; 
    }
}

/* #################### Break points  ###########################*/


@media screen and (max-width: 768px) {

    .carousel{
        margin: 0px;
    }
    .saludo{
        margin: 0px;
    }
     .cuerpo { 
        display: flex;
        flex-direction: column; 
    } 
    .footer {
        display: flex;
        flex-direction: column;
    }
    .terms {
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: center ;
    }
    .terms-text{
        padding: 0px 0px 0px 20px;
    }
    .terms-link {
        display: inline-block;
        justify-content: space-between;
        margin-left: 10px;
    }
    .about { 
        display: flex;
        flex-direction: column; 
    }

    .about-imag img {
        height: 300px;
        width: 300px;
    }
    .proyect {
       display: grid;
       grid-template-columns: auto;
        
    }
    .card-1{
        margin: 0%;
    }
    .card-2{
        margin: 0%;
    }
 
    .buttons {
        display:flex;
        flex-direction:column;
        padding: 0%;
        margin: 20px;  
    }
    .buttons button {
        margin: 20px;
    }
    .cuerpo-estudio {
        padding: auto;
    }
    .card-estudio-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .imag-estudio-1 img {
        width: 200px;
        height: 200px;
    }
    .imag-estudio-2 img {
        width: 400px;
        height: 400px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:  5px;
    }
    .contact-imag img {
        width: 500px;
        height: 500px;
    }
    .redes-list {
        display:flex;
        flex-wrap: wrap;
       
    }
   
    .page-build img {
        height: 450px;
        width: 400px;
    
    }
}

@media screen and (max-width: 426px){
    .video iframe{
        width: 300px;
        height: 200px;
        margin: 15px;
    }
    .imag-estudio-1 {
        margin-top: 20px;
    }
    .imag-estudio-2 {
        margin: 0px;
    }
    .imag-estudio-1 img {
        width: 200px;
        height: 200px;
    }
    .imag-estudio-2 img {
        width: 250px;
        height: 250px;
    }
    .contact-imag img {
        width: 250px;
        height: 250px;
    }
    .page-build img {
        height: 250px;
        width: 200px;
    
    }
    

}
